<nav class="navbar navbar-default navbar-fixed-top">
	<div class="navbar-header page-scroll">
		<a href="/" class="navbar-brand">Mari L.</a>
	</div>
</nav>
<br><br><br><br><br><br>
<div class ="container" ng-controller ="WarningSignsController">
	<uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
		<uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
			<img ng-src="{{slide.image}}">
			<div class="carousel-caption">
			<h5>Slide {{slide.id}}</h5>
			<!-- <p>{{slide.text}}</p> -->
		</div>
		</uib-slide>
	</uib-carousel>
	<h1>Warning Signs</h1>
	<a class="fa fa-clone" aria-hidden="true" ></a>
	<a class="fa fa-github" aria-hidden="true" href= "https://github.com/mml1/ror_remind_me" target= "_blank"></a>
	<h3>Description</h3>
	<h3>Technologies used</h3>
	<ul>
		<li>PostgreSQL</li>
		<li>Twitter Bootstrap</li>
		<li>HTML</li>
		<li>CSS</li>
	</ul>
	<h3>Team Players</h3>
		<ul>
		</ul>
		<br><br><br>
</div>
<div class = "text-center footer" id="connect">
	<br>
	<br>
	<a class="glyphicon glyphicon-menu-up page-scroll" href="#top" du-smooth-scroll duration='700'></a>
	<h1>Connect</h1>
	<a href ="" class="fa fa-linkedin" target="_blank"></a>
	<a href ="https://github.com/mml1" class="fa fa-github" target="_blank"></a>
	<a href ="" class="glyphicon glyphicon-envelope" target="_blank"></a>
</div>