<nav class="navbar navbar-default navbar-fixed-top">
	<div class="navbar-header page-scroll">
		<a href="/" class="navbar-brand">Mari L.</a>
	</div>
</nav>
<br><br><br>
<div class ="container"  ng-controller ="ProjectsController">
	{{projects}}
	{{one}}
	<input type = "submit" ng-click=retrieve()></input>
	<h1>Name of project</h1>
	<hr>
	<h1>Slider/C with images of project/ click and will display single image/bk-dark with low opacity</h3>
	<hr>
	<h1>Description</h1>
	<hr>
	<h1>Technologies Used</h1>
	<hr>
	<h1>Team Members</h1>
</div>
<div class = "text-center footer" id="connect">
	<br>
	<br>
	<a class="glyphicon glyphicon-menu-up page-scroll" href="#top" du-smooth-scroll duration='700'></a>
	<h1>Connect</h1>
	<a href ="" class="fa fa-linkedin" target="_blank"></a>
	<a href ="https://github.com/mml1" class="fa fa-github" target="_blank"></a>
	<a href ="" class="glyphicon glyphicon-envelope" target="_blank"></a>
</div>
