<nav class="navbar navbar-default navbar-fixed-top">
	<div class="navbar-header page-scroll">
		<br>
		<a href="/" class="navbar-brand">Mari L.</a>
	</div>
</nav>
<br><br><br><br><br><br>
<div class ="container" ng-controller ="ProjectsController">

	<input type = "submit" ng-click=retrieve()></input>
	<h3>Name of project</h3>
	<hr>
	<h3>Slider/C with images of project/ click and will display single image/bk-dark with low opacity</h3>
	<hr>
	<h3>Description</h3>
	<hr>
	<h3>Technologies Used</h3>
	<hr>
	<h3>Team Members</h3>
	<br><br><br>
</div>
<div class = "text-center footer" id="connect">
	<br>
	<br>

	<h1>Connect</h1>
	<a href ="" class="fa fa-linkedin" target="_blank"></a>
	<a href ="https://github.com/mml1" class="fa fa-github" target="_blank"></a>
	<a href ="" class="glyphicon glyphicon-envelope" target="_blank"></a>
</div>