<nav class="navbar navbar-default navbar-fixed-top">
	<div class="navbar-header page-scroll">
		<a href="/" class="fa fa-arrow-left" aria-hidden="true"></a>
	</div>
</nav>
<br>
<div class ="container" ng-controller ="HungryBellysController">
	<h1>Hungry Belly</h1>
	<uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
		<uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
			<img ng-src="{{slide.image}}">
			<div class="carousel-caption">
			<!-- <p>{{slide.text}}</p> -->
			</div>
		</uib-slide>
	</uib-carousel>
	<br>
	<a class="fa fa-clone" aria-hidden="true" href="http://54.186.90.201:81/" target="_blank"></a>
	<a class="fa fa-github" aria-hidden="true" href="http://github.com/mml1/hungrybelly" target="_blank"></a>

	<h3>Description</h3>
	<p>
		So, it is lunch time. You and your friends would like to meet to have lunch, but do not know which resturants will work best. Now, with Hungry Belly, you can find resturants located between all your friends. After finding the centralized resturants, you can send a text message through Hungry Belly and enjoy lunch. 
	</p>
	<h3>Technologies used</h3>
	<ul>
		<li>Ruby on Rails</li>
		<li>PostgreSQL</li>
		<li>Google Maps API</li>
		<li>Twilio Gem</li>
		<li>Geocoder Gem</li>
		<li>Yelp Gem</li>
		<li>Twitter Bootstrap</li>
		<li>HTML5</li>
		<li>CSS3</li>
	</ul>
	<h3>Team Players</h3>
		<ul>
			<li>Heather <a href = "https://www.linkedin.com/in/heatherwalker3" class="fa fa-linkedin" target="_blank"></a>
			</li>
			<li>Amrita <a href = "https://www.linkedin.com/in/amritakc" class="fa fa-linkedin" target="_blank"></a>
			</li>
		</ul>
		<br><br><br>
</div>
<div class = "text-center footer" id="connect">
	<br>
	<br>
	<h1>Connect</h1>
	<a href ="https://www.linkedin.com/in/marilliguicota" class="fa fa-linkedin cont" target="_blank"></a>
	<a href ="https://github.com/mml1" class="fa fa-github cont" target="_blank"></a>
	<a href ="mailto:marilliguicota@gmail.com?Subject=Connecting from your Website" target="_top" class="glyphicon glyphicon-envelope cont" target="_blank"></a><br>
		&copy; Mari Lliguicota 2016
</div>
