<nav class="navbar navbar-default navbar-fixed-top">
	<div class="navbar-header page-scroll">
		<a href="/" class="navbar-brand">Mari L.</a>
	</div>
</nav>
<br><br><br>
<div class ="container" ng-controller ="ProjectsController">
	<h1>Hungry Belly</h1>
	<a class="fa fa-clone" aria-hidden="true" href="http://54.186.90.201:81/" target="_blank"></a>
	<a class="fa fa-github" aria-hidden="true" href="http://github.com/mml1/hungrybelly" target="_blank"></a>

	<h3>Description</h3>
	<h3>Technologies used</h3>
	<ul>
		<li>Ruby on Rails</li>
		<li>PostgreSQL</li>
		<li>Google Maps API</li>
		<li>Twilio Gem</li>
		<li>Geocoder Gem</li>
		<li>Yelp Gem</li>
		<li>Twitter Bootstrap</li>
		<li>HTML</li>
		<li>CSS</li>
	</ul>
	<h3>Team Players</h3>
		<ul>
			<li>Heather <a href = "https://www.linkedin.com/in/heatherwalker3" class="fa fa-linkedin" target="_blank"></a>
			</li>
			<li>Amrita <a href = "https://www.linkedin.com/in/amritakc" class="fa fa-linkedin" target="_blank"></a>
			</li>
		</ul>
</div>
<div class = "text-center footer" id="connect">
	<br>
	<br>
	<a class="glyphicon glyphicon-menu-up page-scroll" href="#top" du-smooth-scroll duration='700'></a>
	<h1>Connect</h1>
	<a href ="" class="fa fa-linkedin" target="_blank"></a>
	<a href ="https://github.com/mml1" class="fa fa-github" target="_blank"></a>
	<a href ="" class="glyphicon glyphicon-envelope" target="_blank"></a>
</div>
