<div ng-controller="ScrollsController" id= "top">
	<nav class="navbar navbar-default navbar-fixed-top" id="homeBar">
		<div class="navbar-header page-scroll">
			<br>
			<a class="navbar-brand" href="/">Mari L.</a>
		</div>
		<ul class="nav navbar-nav navbar-right">
			<br>
			<li class="page-scroll"><a href="#about"  du-smooth-scroll duration="700">About</a></li>
			<li class="page-scroll"><a href="#skills" du-smooth-scroll duration="700">Skills</a></li>
			<li class="page-scroll"><a href="#projects" du-smooth-scroll duration="700">Projects</a></li>
			<li class="page-scroll"><a href="#contact" du-smooth-scroll duration="700">Connect</a></li>
		</ul>
	</nav>

	<div class="main">
	</div>
	<div class="text-center row" id="about">
		<h1>About Me</h1>
	 	<div class="col-sm-6">
	 		<div id="me">
				<img src="../img/me.jpg" alt="Picture of me smiling">
			</div>
	 	</div>
	 	<div class="text-left col-sm-6" id="aboutText">
			<h2>Hello! <br>
				My name is Mari Lliguicota, but I go by Mary. I am an empathetic, bubbly, curious, developer/engineer who enjoys creating and debugging code. My stacks of choice? MEAN and Ruby on Rails, sometimes even both at the same time. Besides web development, I love hearing about stem cells, developmental biology, 3D printing, virtual reality, IoT, psychology, education, mysteries, and crafts. Want to connect? Contact me below. 
			</h2>	 	
		</div>
	</div>
	<div class="row" id="skills">
		<h1>Skills</h1>
		<div class = "col-sm-6">
			<div class = "col-sm-4">
				<h3>Languages</h3>
				<ul>
					<li>JavaScript</li>
					<li>Ruby</li>
					<li>Python</li>
					<li>CSS3</li>
					<li>HTML5</li>

				</ul>
			</div>
			<div class = "col-sm-4">
				<h3>Frontend</h3>
				<ul>
					<li>AngularJS</li>
					<li>BootStrap</li>
					<li>jQuery</li>
					<li>AJAX</li>
				</ul>
			</div>
			<div class = "col-sm-4">
				<h3>Backend</h3>
				<ul>
					<li>NodeJS</li>
					<li>ExpressJS</li>
					<li>MongoDB</li>
					<li>PostgreSQL</li>
					<li>MySQL</li>
					<li>SQLite</li>
					<li>socket.io</li>
				</ul>

			</div>
		</div>
		<div class = "col-sm-6">
			<div class = "icons">
				<img src="../img/stackImages/angularjs.png" alt="Angular Js image">
			</div>
			<div class = "icons">
 				<img src="../img/stackImages/bootstrap.png" alt="bootstrap image">
 			</div>
 			<div class = "icons">
	 			<img src="../img/stackImages/socketio.png" alt="Socket io image">
	 		</div>
	 		<div class = "icons">
	 			<img src="../img/stackImages/jqueryD.png" alt="jquery image">
	 		</div>
	 		<div class = "icons">
	 			<img src="../img/stackImages/ajax.png" alt="Ajax image">
	 		</div>
	 		<div class = "icons">
				<img src="../img/stackImages/rails.png" alt="Rails image">
			</div>
			<div class = "icons">
				<img src="../img/stackImages/node.png" alt="Node.js logo">
			</div>
			<div class = "icons">
 				<img src="../img/stackImages/express.png" alt="express image">
 			</div>
 			<div class = "icons">
 				<img src="../img/stackImages/mysqlwritten.png" alt="MySQL image">
 			</div>
 			<div class = "icons">
	 			<img src="../img/stackImages/postgresql.png" alt="PostgreSQL image">
	 		</div>
	 		<div class = "icons">
	 			<img src="../img/stackImages/sqlite.png" alt="SQL lite image">
	 		</div>
	 		<div class = "icons">
	 			<img src="../img/stackImages/mongoDB.png" alt="Mongo Database logo">
	 		</div>
	 		<div class = "icons">
				<img src="https://upload.wikimedia.org/wikipedia/commons/0/0a/Python.svg">
	 		</div>
	 		<div class = "icons">
 				<img src="../img/stackImages/ruby.png" alt="Ruby image">
 			</div>
 			<div class = "icons">
				<img src="../img/stackImages/htmlcssjs.png" alt="html css js image">
			</div>
			<div class = "icons">
				<img src="../img/stackImages/aws.png" alt="Amazon Web Services image">
			</div>
			<div class = "icons">

	 			<img src="../img/stackImages/github.png" alt="github image">
			</div>

		</div>
	</div>
	<div class="row" id="projects">
	 	<h1 class="text-center">Projects</h1>	
	 	<div class = "row">
			<div class="col-sm-6">
				<div class="thumbnail">
					<a href="#/projects/memorylane"><img src="../img/memoryLane/initial.png" alt="Memory Lane logo" class="logo"></a>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="thumbnail">
					<a href="#/projects/remindme"><img src="../img/remindme/first.png" alt="Remind Me logo" class="logo"></a>
				</div>
			</div>
		</div>
		<div class = "row">
			<div class="col-sm-6">
				<div class="thumbnail">
					<a href="#/projects/hungrybelly"><img src="../img/hungryBelly/first.png" alt="Hungry Belly Logo" class="logo"></a>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="thumbnail">
					<a href="#/projects/warningstories"><img src="../img/warningSigns/first.png" alt="Warning Stories Logo" class="logo"></a>
				</div>
			</div>
		</div>
	</div>

	<div class = "text-center footer" id="contact">
		<br>
		<br>
		<a class="glyphicon glyphicon-menu-up page-scroll cont" href="#top" du-smooth-scroll duration='700'></a>
		<h1>Connect</h1>
		<a href ="https://www.linkedin.com/in/marilliguicota" class="fa fa-linkedin cont" target="_blank"></a>
		<a href ="https://github.com/mml1" class="fa fa-github cont" target="_blank"></a>
		<a href ="mailto:marilliguicota@gmail.com?Subject=Connecting from your Website" target="_top" class="glyphicon glyphicon-envelope cont" target="_blank"></a><br>
		&copy; Mari Lliguicota 2016
	</div>
</div>


