<h3>Projects</h3>
<div class="">
		<div class="col-sm-4">
		<div class="thumbnail logo">
			<img src="../img/memoryLaneLogo.png" alt="Memory Lane logo" class="img-circle">
			<h4>Memory Lane</h4>
			<h5> Description</h5>
			<h5>Technologies used</h5>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="thumbnail">
			<img src="../img/remindmeLogo.png" alt="Remind Me logo" class=" img-circle">
			<h4>Remind Me</h4>
			<h5> Description</h5>
			<h5>Technologies used</h5>
			<h5>Team Players</h5>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="thumbnail img-circle">
			<img src="../img/memoryLaneLogo.png" alt="Discussion Board Logo" class="logo">
			<h4>Discussion Board</h4>
			<h5> Description</h5>
			<h5>Technologies used</h5>
		</div>
	</div>

</div>