<h3>Projects</h3>
<!-- <uib-carousel>
	<uib-slide> -->
		<div class="col-sm-4">
			<div class="thumbnail">
				<img src="../img/sqMLlogo.png" alt="Remind Me logo" class="logo">

				<h4>Memory Lane</h4>
				<h5> Description</h5>
				<h5>Technologies used</h5>
			</div>
	</div>
	<div class="col-sm-4">
		<div class="thumbnail">
			<img src="../img/sqLogo.png" alt="Remind Me logo" class="logo">
			<h4>Remind Me</h4>
			<h5> Description</h5>
			<h5>Technologies used</h5>
			<h5>Team Players</h5>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="thumbnail">
			<img src="../img/sqLogo.png" alt="Discussion Board Logo" class="logo">
			<h4>Discussion Board</h4>
			<h5> Description</h5>
			<h5>Technologies used</h5>
		</div>
	</div>

<!-- </uib-carousel> -->