<nav class="navbar navbar-default navbar-fixed-top">
	<div class="navbar-header page-scroll">
		<a href="/" class="fa fa-arrow-left" aria-hidden="true"></a>
	</div>
</nav>
<br>
<div class="container" ng-controller ="ProjectsController">
	<h1 class>Recycle Me</h1>
	<img src="../img/sensor.jpg" alt="Ardunio Edison board used as a garbage sensor" id="sensor">

	<h3>Description</h3>
	<p> 
		Not sure how to recycle an item? Ask Alexa! Recyle Me is an application for the Amazon Echo to help a person recycle. In additon, you can check how full your recyling bin is through a sensor created using Arduino Edison and the Grove starter kit. Iot Cities hackathon was the first time I touched hardware.
	</p>
	<h3>Technologies used</h3>
	<ul>
		<li>Amazon Alexa</li>
		<li>NodeJS</li>
		<li>Arduino Edison Board</li>
		<li>Grove Starter Kit</li>
		<li>JSON</li>
	</ul>
	<h3>Team Players</h3>
		<ul>
			<li>Amrita Chawla<a href ="https://www.linkedin.com/in/amritakc" class="fa fa-linkedin" target="_blank"></a></i>
			</li>
			<li>Heather Walker<a href ="https://www.linkedin.com/in/heatherwalker3" class="fa fa-linkedin" target="_blank"></a></i> 
			</li>
			<li>David Chen<a href ="https://www.linkedin.com/in/davidc808" class="fa fa-linkedin" target="_blank"></a></i> 
			</li>
			<li>Ali Anderson<a href ="https://www.linkedin.com/in/aliganderson" class="fa fa-linkedin" target="_blank"></a></i> 
			</li>
		</ul>
	<br><br><br>

</div>
<div class = "text-center footer" id="connect">
	<br>
	<br>
	<h1>Connect</h1>
	<a href ="https://www.linkedin.com/in/marilliguicota" class="fa fa-linkedin cont" target="_blank"></a>
	<a href ="https://github.com/mml1" class="fa fa-github cont" target="_blank"></a>
	<a href ="mailto:marilliguicota@gmail.com?Subject=Connecting from your Website" target="_top" class="glyphicon glyphicon-envelope cont" target="_blank"></a><br>
		&copy; Mari Lliguicota 2016
</div>
