<nav class="navbar navbar-default navbar-fixed-top">
	<div class="navbar-header page-scroll">
		<br>
		<a href="/" class="navbar-brand">Mari L.</a>
	</div>
</nav>
<br>
<div class="container"ng-controller ="MemoryLanesController">
	<h1>Memory Lane</h1>
	<uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
		<uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
			<img ng-src="{{slide.image}}">
			<div class="carousel-caption">
			</div>
		</uib-slide>
	</uib-carousel>
	
	<br>
	<a class="fa fa-clone" aria-hidden="true" href="http://52.42.170.84/" target="_blank"></a>
	<a class="fa fa-github" aria-hidden="true" href="https://github.com/mml1/MEAN_match" target="_blank"></a>

	<h3>Description</h3>
	<p>A memory game where you have to reveal two matching cards to earn a point. See your stats in bar format once the game is over. Want to know if you made it to the top ten? Click on past records. </p>
	<h3>Technologies used</h3>
	<ul>
		<li>AngularJS</li>
		<li>Node.js</li>
		<li>Express.js</li>
		<li>Mongoose</li>
		<li>MongoDB</li>
		<li>Twitter Bootstrap</li>
		<li>HTML5</li>
		<li>CSS3</li>
	</ul>
	<br><br><br>
</div>
<div class = "text-center footer" id="connect">
	<br>
	<br>
	<h1>Connect</h1>
	<a href ="https://www.linkedin.com/in/marilliguicota" class="fa fa-linkedin cont" target="_blank"></a>
	<a href ="https://github.com/mml1" class="fa fa-github cont" target="_blank"></a>
	<a href ="http://goo.gl/forms/SEKSXcCo3vxRn70k1" class="glyphicon glyphicon-envelope cont" target="_blank"></a><br>
		&copy; Mari Lliguicota 2016
</div>
