<nav class="navbar navbar-default navbar-fixed-top">
	<div class="navbar-header page-scroll">
		<a href="/" class="fa fa-arrow-left" aria-hidden="true"></a>
	</div>
</nav>
<br>
<div class ="container" ng-controller ="RemindMesController">
	<h1>Remind Me</h1>
	<uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
		<uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
			<img ng-src="{{slide.image}}">
			<div class="carousel-caption">
			</div>
		</uib-slide>
	</uib-carousel>
	<br>
	<!-- <a class="fa fa-clone" aria-hidden="true" href="http://54.183.134.63"></a> -->
	<a class="fa fa-github" aria-hidden="true" href= "https://github.com/mml1/ror_remind_me" target= "_blank"></a>
	<h3>Description</h3>
	<p>
		Created over the course of two days, Remind Me allows users to create reminders for tasks at specified times or certain intervals.
	</p>
	<h3>Technologies used</h3>
	<ul>
		<li>Ruby on Rails</li>
		<li>SQLite</li>
		<li>Rufus Scheduler Gem</li>
		<li>Twitter Bootstrap</li>
		<li>HTML5</li>
		<li>CSS3</li>
	</ul>
	<h3>Team Players</h3>
		<ul>
			<li>Andrew Wibel<a href ="https://www.linkedin.com/in/andrew-wibel-26bb73116" class="fa fa-linkedin" target="_blank"></a></i>
			</li>
		</ul>
	<h3>Special Thanks to:</h3>
		<ul>
			<li>David Chen (Designer of logo)<a href ="https://www.linkedin.com/in/davidc808" class="fa fa-linkedin" target="_blank"></a></i>
			</li>
		</ul>
		<br><br><br>
</div>
<div class = "text-center footer" id="connect">
	<br>
	<br>
	<h1>Connect</h1>
	<a href ="https://www.linkedin.com/in/marilliguicota" class="fa fa-linkedin cont" target="_blank"></a>
	<a href ="https://github.com/mml1" class="fa fa-github cont" target="_blank"></a>
	<a href ="mailto:marilliguicota@gmail.com?Subject=Connecting from your Website" target="_top" class="glyphicon glyphicon-envelope cont" target="_blank"></a><br>
	&copy; Mari Lliguicota 2016
</div>
