body{
	background: #444444;
	color: #8A8E8F;
	font-family: Raleway;
	font-size: 18px;
}
a {
	/*color: #CC5476;*/
	color: #54D0ED;
	color:#5F7A87;

}
a:link {
	text-decoration: none;
}
a:hover{	
	color:#70B85D;
	color: #54D0ED;
	color: #00ADA9;
	text-decoration: none;
}
a:visited{	
	text-decoration: none;
}
a:active{
	color:#A6E5F5; 	
	text-decoration: none;
}
h3, h5{
	color:#FF8C86;
	color: #000000;
	font-weight: bold;
}
h1{
	/*color:#A6E5F5;*/
	color: #c0c0c0;
}
.container{
	background: #FFFFFF;
}
.navbar{
	/*background: #CCEA76;*/
	/*background: #A6E5F5;*/
	background: #444444;
}

.navbar-default .navbar-nav>li>a {
	color: #5F7A87;
	text-shadow: none;
	width: 100%;
}

.navbar-default .navbar-nav>li>a:hover {
	color: #00ADA9;
}
.navbar-default .navbar-nav>li>a:visited {
	color: #FF8C86;
}
.navbar-default .navbar-nav>li>a:active {
	color: #FFFFFF;
}
.row{
	background: #FFFFFF;
	margin: 0px;
}

.logo{
    /*background:#444444;*/
/*    -webkit-filter: grayscale(50%);  Chrome, Safari, Opera 
    filter: grayscale(50%);*/
/*    height:60%;
    width: 60%;*/
}
.jumbotron{
	background: #CCEA76;
	background: #000000;

	color: #444444;
	/*background: #A6E5F5;*/
/*	color: #A6E5F5;
	background: #444444;*/
	/*color: #FFFFFF;*/
	/*background: #CC5476;*/
	border-bottom: 5px solid #444444;
}
#MLlogo{
	margin: auto;
	height: 300px;
	width: 300px;
	border-radius: 50%;
	background: #FFFFFF;
	border: 10px solid #30707F;
}
/* 30707F 84BFCC FFFFFF FF8C86 CC5476*/
.fa{
	font-size: 30px;	
}
.glyphicon-envelope{
	font-size: 30px;
}
.projects{
	height:135%;
}
.footer{
	background: #444444;
}
#about{
	min-height: 300px;
}
