body{
	background: #444444;
	color: #8A8E8F;
}
a {
	/*color: #CC5476;*/
	color: #CCEA76
}
a:link {
	text-decoration: none;
}
a:hover{	
	color:#337ab7;
	text-decoration: none;
}
a:visited{	
	text-decoration: none;
}
a:active{	
	text-decoration: none;
}
h3, h5{
	color:#FF8C86;
}
h1{
	color:#A6E5F5;
}
.container{
	background: #FFFFFF;
}
.navbar{
	/*background: #CCEA76;*/
	background: #A6E5F5;
	background: #444;
}
.navbar a{
	color: #A6E5F5;
}
.navbar-default .navbar-nav>li>a {
	color: #30707F;
	color: #A6E5F5;
	text-shadow: none;
	width: 100%;
}
.navbar-default .navbar-nav>li>a:hover {
	color: #CCEA76;
}
.navbar-default .navbar-nav>li>a:active {
	color: #C0C0C0;
}
.row{
	background: #FFFFFF;
	margin: 0px;
}
.thumbnail{
	min-height: 60%;
}
.logo{
    background:#444444;
/*    -webkit-filter: grayscale(50%);  Chrome, Safari, Opera 
    filter: grayscale(50%);*/
/*    height:60%;
    width: 60%;*/
}
.jumbotron{
	background: #CCEA76;
	background: #000000;

	color: #444444;
	/*background: #A6E5F5;*/
/*	color: #A6E5F5;
	background: #444444;*/
	/*color: #FFFFFF;*/
	/*background: #CC5476;*/
	border-bottom: 5px solid #444444;
}
#MLlogo{
	margin: auto;
	height: 300px;
	width: 300px;
	border-radius: 50%;
	background: #FFFFFF;
	border: 10px solid #30707F;
/*	margin-top: 10%;
*/}
/* 30707F 84BFCC FFFFFF FF8C86 CC5476*/
.fa{
	font-size: 30px;
}
.glyphicon-envelope{
	font-size: 30px;
}
.projects{
	height:100%;
	display: block;
}
.footer{
	background: #444444;
	display: block;
}
#about{
	min-height: 300px;
}
